@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


@layer base {
    :root {
        --background: 220 21% 16%;
        --foreground: 60 12% 95%;
        --muted: 220 12% 20%;
        --muted-foreground: 220 12% 70%;
        --popover: 220 21% 13%;
        --popover-foreground: 0 0% 100%;
        --card: 220 21% 14%;
        --card-foreground: 0 0% 100%;
        --border: 220 11% 21%;
        --input: 220 11% 24%;
        --primary: 40 100% 70%;
        --primary-foreground: 40 100% 10%;
        --secondary: 40 30% 25%;
        --secondary-foreground: 40 30% 85%;
        --accent: 220 21% 31%;
        --accent-foreground: 220 21% 91%;
        --destructive: 8 85% 51%;
        --destructive-foreground: 0 0% 100%;
        --ring: 40 100% 70%;
        --radius: 0.3rem;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .dark {
        --background: 220 21% 16%;
        --foreground: 60 12% 95%;
        --muted: 220 12% 20%;
        --muted-foreground: 220 12% 70%;
        --popover: 220 21% 13%;
        --popover-foreground: 0 0% 100%;
        --card: 220 21% 14%;
        --card-foreground: 0 0% 100%;
        --border: 220 11% 21%;
        --input: 220 11% 24%;
        --primary: 40 100% 70%;
        --primary-foreground: 40 100% 10%;
        --secondary: 40 30% 25%;
        --secondary-foreground: 40 30% 85%;
        --accent: 220 21% 31%;
        --accent-foreground: 220 21% 91%;
        --destructive: 8 85% 51%;
        --destructive-foreground: 0 0% 100%;
        --ring: 40 100% 70%;
    }
}



@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply text-foreground bg-background;
    }
}